/*GENERAL*/

body { /*Propriétés du corps de page*/
    font-family: 'Oswald', sans-serif; /*police et style d'écriture*/
    background-color: rgb(213, 220, 226); /*couleur de fond de la page*/
    
}

h1, h2, h3, h4, h5, h6 { /*Propriétés des titres*/
    padding: 0 10px 0 10px; /*espace autour des titres*/
}

p{
    padding: 0 20px 0 20px; /*espace autour des paragraphes*/
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}

/*HEADER*/

header { /*Propriétés de l'en-tête*/
    font-family: 'Oswald', sans-serif; /*police et style d'écriture*/
    background-color: #141455; /*couleur de fond*/
    padding: 15px 10px 15px 10px; /*espace autour de l'en-tête*/
    position: sticky; /*position fixe*/
    top: 0; /*position en haut de la page*/
    vertical-align: middle;
}

.Accueil { /*Bouton Accueil*/
    color: white; /*couleur du texte*/
    font-family: 'Oswald', sans-serif;
    text-decoration: none; /*décoration du texte*/
    font-size: 25px; /*taille de la police*/
    padding: 0 10px 0 10px; /*espace autour du texte*/
    
}

.Malvoyant { /*Bouton Malvoyant*/
    background-color: #141455 ; /*couleur de fond*/
    border: none; /*bordure*/
    padding: 0 10px 0 10px; /*espace autour du texte*/
}

.Connexion { /*Bouton Connexion*/
    background-color: #141455 ; /*couleur de fond*/
    border: none; /*bordure*/
    padding: 0 10px 15px 10px; /*espace autour du texte*/
    float: right; /*position à droite*/
    margin-left: 10px; /
}

.Recherche { /*Bouton Recherche*/
    background-color: #141455 ; /*couleur de fond*/
    border: none; /*bordure*/
    padding: 0 10px 0 10px; /*espace autour du texte*/
    float: inline-end; /*position à droite*/
    margin-left: auto; /*espace automatique à gauche*/
}

/*BODY*/

.DescriptionSite {
    padding: 5px 15px; /*espace autour de la description*/
    background-color: #e3e3f1; /*couleur de fond de la description*/
    margin: 20px 20px 20px 20px; /*marge autour de la description*/
    border: none; /*bordure de la description*/               /*2px solid #5e5e5e*/
    box-shadow: 10px 10px 20px grey; /*ombre portée de la description*/
    border-radius: 15px; /*bords arrondis*/
}

.Informations { /*Propriétés des informations*/
    padding: 5px 15px; /*espace autour des informations*/
    background-color: #e3e3f1; /*couleur de fond des informations*/
    margin: 20px 20px 20px 20px; /*marge autour des informations*/
    border: none; /*bordure des informations*/
    box-shadow: 10px 10px 20px grey; /*ombre portée des informations*/
    border-radius: 15px; /*bords arrondis*/
    display: flex;
}

.Informations h1 {
    text-align: center;
}

.imageInformation {
    padding-left: 90px;
    padding-bottom: 15px;
}

.divServices {
    margin: 0 20px 0 20px;
    padding: 5px 20px 10px 20px;
    border: none;
    background-color: #e3e3f1;
    box-shadow: 10px 10px 20px grey; /*ombre portée des informations*/
    border-radius: 15px; /*bords arrondis*/
}

.ViePersonnelle, .VieProfessionnelle, .Logement, .Handicap, .Accident {
    text-align: center;
}

.TitresServices {
    background-color: #141455;
    color: white;
}

.ImageViePersonnelle {
    background-color: lightpink;
}

.ImageVieProfessionnelle {
    background-color: lightskyblue;
}

.ImageLogement {
    background-color: lightgreen;
}

.ImageHandicap {
    background-color: violet;
}

.ImageAccident {
    background-color: lightcoral;
}